@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "LatoBlack","Arial","Helvetica",sans-serif;
    min-width: 320px;
	-webkit-perspective: 3000px;
    perspective: 3000px;
    width: 100%;
    height: 550px;
    background: black;
}
.portal{
    position: absolute;
    width: 80vw;
    top: calc((-50vh + (95vw + 100vh) / 2) * (-0.5) );
    display: none;
    margin-left: 10vw;
    z-index: -2;
}
.portal:nth-of-type(2){
    z-index: 1;
}
nav{
    background: #234465;
    padding: 0 10px;
    text-align: center;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    min-width: 300px;
    height: 60px;
    position: relative;
}
nav li, .drop-down li a{
    color: #aab2bc;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 13px;
    font-weight: 900;
    outline: 0;
}
.main-menu > li, .menu-links > li{
    display: inline-block;
}
.menu-links > li{
    padding: 10px 5px 10px 10px;
}
.btn, .logo, .menu-btn, .btn-orange, .search-icon{
    cursor: pointer;
}
.drop-down::after{
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #aab2bc;
    border-bottom: none;
    content: "";
    position: relative;
    margin-left: 10px;
    top: 10px;
}
.menu-links li:hover, .menu-links li a:hover{
    color: #ffffff;
}
.menu-links > li:hover.drop-down::after{
    border-top: 5px solid #ffffff;
}
.logo{
    display: inline-block;
    margin-top: 10px;
    outline: 0;
    float: left;
    margin-left: 20px;
}
.main-menu{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    top: 0;
    right: 60px;
    position: absolute;
}
.logo:active .logo-left, .logo:active .logo-right{
	-webkit-animation-play-state: running;
    animation-play-state: running;
}
.logo-left, .logo-right{
    background: url("https://softuni.bg/content/images/software-university-logo.png") no-repeat;
    background-size: 200% 100%;
    height: 40px;
    width: 90px;
    position: relative;
    display: inline-block;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-play-state: paused;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 3s;
    -webkit-animation-play-state: paused;
}
.logo-right{
    background-position-x: -90px;
    right: 5px;
    transform-origin: bottom left;
    animation-name: logo_right_anim;
	-webkit-transform-origin: bottom left;
    -webkit-animation-name: logo_right_anim;
}
.logo-left{
    transform-origin: bottom right;
    animation-name: logo_left_anim;
	-webkit-transform-origin: bottom right;
    -webkit-animation-name: logo_left_anim;
}
.main-menu > li.search-icon{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.main-menu > li.search-icon:hover{
    color: #ffffff;
}
.btn-orange, .main-menu > li.btn-orange{
    background: #ffa000;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
    border: none;
}
.main-menu > li.btn-orange{
    margin-top: 10px;
}
.btn-orange:hover, .main-menu > li.btn-orange:hover{
    background: #ffffff;
    color: #234465;
}
.background{
    background-size: contain;
    background: url("https://softuni.bg/content/images/leadBG.jpg") no-repeat;
    height: 600px;
    color: #ffffff;
}
header{
	-webkit-transition: -webkit-transform 4s;
    transition: -webkit-transform 4s;
    transition: transform 4s;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    padding-top: 150px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    min-width: 320px;
}
h1{
    font-weight: 700;
    font-size: 42px;
}
.title-wrapper{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
header div li{
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
}
header ul{
    margin-top: 30px;
    text-align: center;

    font-weight: bold;
}
header li{
    display: inline-block;
    border: #ffffff solid 1px;
    border-radius: 15px;
    cursor: pointer;
}
header li:nth-of-type(2):hover, header li:last-of-type:hover{
    background: #ffffff;
    color: #234465;
}
.bubble{
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -15px;
    width: 300px;
    height: 220px;
    display: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.avatar{
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: 20px;
}
.bubble-text{
    display: inline-block;
    padding: 35px 70px 80px 70px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 140px;
    left: 80px;
}
.bubble-text i{
    font-size: 180px;
    color: #ffffff;
    position: relative;
    bottom: 100px;
    z-index: -1;
}
.bubble:after{
    font-family: FontAwesome,sans-serif;
    content: "\f075";
    position: relative;
    left: 142px;
    font-size: 194px;
    color: #000000;
    bottom: 507px;
    z-index: -2;
}
#nag-text{
    z-index: 1;
}
.dirt{
    position: fixed;
    cursor: pointer;
}
.dirt-counter{
    position: fixed;
    left: calc((100vw / 2) - 50px);
    top: 15%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    padding:  13px 13px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    display: none;
    z-index: 2;
}
.fix-dirt-counter{
    -webkit-transform: rotate(-20deg);
    transform: rotate(20deg);
}
.cookie{
    width: 180px;
    height: 180px;
    position: fixed;
    top: 200px;
    left: 200px;
    cursor: pointer;
}
.no-bullets{
    list-style: none;
}
.menu-links{
    margin-top: 6px;
}
.drop-down ul{
    display: none;
    position: absolute;
    background: #234465;
    border-top: 2px solid #236688;
    min-width: 100px;
    margin-top: 16px;
}
.drop-down li{
    margin: 5px;
}
.drop-down li a{
    text-decoration: none;
}
.drop-down li a:hover{
    color: #ffffff;
}
.debug{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.03;
}
.debug-info{
    position: fixed;
    top: 100px;
    left: 100px;
    background: white;
    width: 150px;
    text-align: center;
}
.nav-bug-fix{
    position: fixed;
    top: 30px;
    width: 30px;
    height: 30px;
}
.apple-greetings{
    width: 100vw;
    height: 1000px;
    background: #000000;
    position: fixed;
    z-index: 10;
    top: 0;
    text-align: center;
    min-width: 320px;
}
.apple-greetings-img{
    width: 320px;
    position: relative;
    top: calc(100vh / 2 - 260px);
}
.apple-greetings-text{
    color: white;
    position: relative;
    top: calc(100vh / 2 - 260px);
    margin: auto;
    width: 320px;
}
.apple-greetings-button{
    position: relative;
    top: calc(100vh / 2 - 250px);
    border-radius: 5px;
    padding: 3px 10px;
    border: 2px solid #ff4500;
    outline: 0;
    cursor: pointer;
    background: #ff4500;
    color: #ffffff;
}
.apple-greetings-button:hover{
    background: #000000;
    color: #ff4500;
}
.contacts-frame-container{
    width: 91vw;
    position: absolute;
    left: 4.5vw;
    height: 80vh;
    display: none;
    top: 60px;
}
.close-frame{
    background: #808080;
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    color: #ffffff;
}
.close-frame:hover{
    background: #ff0000;
}
@-webkit-keyframes logo_left_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    20% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes logo_left_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    20% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@-webkit-keyframes logo_right_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    20% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes logo_right_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    20% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@-webkit-keyframes spiralNav
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1);
        transform: rotate(0deg) translate(0px) scale(1);
    }
    to {
        -webkit-transform: rotate(90deg) translate(150px) scale(0);
        transform: rotate(90deg) translate(150px) scale(0);
    }
}
@keyframes spiralNav
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1);
        transform: rotate(0deg) translate(0px) scale(1);
    }
    to {
        -webkit-transform: rotate(90deg) translate(150px) scale(0);
        transform: rotate(90deg) translate(150px) scale(0);
    }
}
@-webkit-keyframes spiralHeader
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
        transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
    }
    to {
        -webkit-transform: rotate(90deg) translate(150px) scale(0) rotateX(-90deg);
        transform: rotate(90deg) translate(150px) scale(0) rotateX(-90deg);
    }
}
@keyframes spiralHeader
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
        transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
    }
    to {
        -webkit-transform: rotate(90deg) translate(150px) scale(0) rotateX(-90deg);
        transform: rotate(90deg) translate(150px) scale(0) rotateX(-90deg);
    }
}
@media screen and (max-width: 1200px) {
    .logo-left, .logo-right{
        background-image: url("https://softuni.bg/content/images/softuni-mobile-logo.png");
        width: 35px;
    }
    .logo-right{
        background-position-x: -35px;
    }
}
@media screen and (max-width: 990px) {
    .menu-links{
        display: none;
        background: #234465;
        padding: 10px 0;
        width: 100vw;
        position: absolute;
        top: 34px;
        border-top: 2px solid #236688;
        min-width: 320px;
        right: -20px;
    }
    .menu-links:target{
        display: none;
    }
    .menu-btn{
        margin-right: 20px;
    }
    .logo-left, .logo-right{
        background-image: url("https://softuni.bg/content/images/software-university-logo.png");
        width: 90px;
    }
    .logo-right{
        background-position-x: -90px;
    }
    .main-menu > li:first-of-type{
        padding: 0;
        position: absolute;
        right: -40px;
        margin: 0;
    }

    .main-menu > li:first-of-type:hover{
        padding-bottom: 14px;
    }
    .menu-btn{
        display: inline-block;
    }
    .main-menu > li:first-of-type:after{
        font-family: FontAwesome, sans-serif;
        content: "\f0c9";
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-menu > li:first-of-type:hover .menu-links{
        display: block;
    }
    .main-menu > li.btn-orange, .main-menu > li.search-icon, .main-menu > li:first-of-type{
        margin-top: 5px;
    }
    .drop-down ul{
        margin-top: 10px;
    }
    .menu-links > li{
        padding: 0 5px 0 10px;
    }
}
@media screen and (max-width: 820px){
    .main-menu .menu-btn, .drop-down li, .drop-down li a{
        display: block;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    .drop-down ul{
        position: static;
        border-bottom: 2px solid #236688;
    }
    .drop-down:after{
        display: none;
    }
    .drop-down:before{
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #aab2bc;
        border-bottom: none;
        content: "";
        position: relative;
        margin-right: 10px;
        top: 15px;
    }
}
@media screen and (max-width: 525px) {
    .logo-left, .logo-right{
        background-image: url("https://softuni.bg/content/images/softuni-mobile-logo.png");
        width: 35px;
    }
    .logo-right{
        background-position-x: -35px;
    }
    header li{
        display: block;
        margin-top: 10px;
        margin-right: 20px;
    }
    .portal{
        top: 70px;
    }
}