@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "LatoBlack","Arial","Helvetica",sans-serif;
    min-width: 360px;
    perspective: 3000px;
    background: url("https://initiate.alphacoders.com/images/648/cropped-1366-768-648549.jpg?1966") no-repeat center;
    background-size: auto;
}

nav{
    background: #234465;
    padding: 10px;
    text-align: center;
}
nav li span, nav li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    color: #aab2bc;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 900;
}
.btn, .logo, .btn_hide, .btn_orange, .search_icon{
    cursor: pointer;
}
.fake_btn::after{
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #aab2bc;
    border-bottom: none;
    content: "";
    position: relative;
    margin-left: 10px;
    top: 10px;
}
nav li span:hover{
    color: #ffffff;
}
nav li span:hover.fake_btn::after{
    border-top: 5px solid #ffffff;
}
.logo{
    padding-right: 30%;
    background: url("https://softuni.bg/content/images/software-university-logo.png") no-repeat;
    height: 40px;
    width: 150px;
    background-size: auto;
    position: relative;
    right: 100px;
    transition: transform 0.2s;
    transform-origin: left bottom;
}
.search_icon{
    transform: rotate(-45deg);
    font-size: 30px;
    margin-left: 10px;
}
.search_icon:hover{
    color: #ffffff;
}
.btn_orange{
    background: #ffa000;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
    border: none;
}
.btn_orange:hover{
    background: #ffffff;
    color: #234465;
}
.background{
    background-size: contain;
    background: url("https://softuni.bg/content/images/leadBG.jpg");
    height: 600px;
    color: #ffffff;
}
header{
    text-align: center;
    transition: transform 4s;
    transform-origin: center top;
}
h1{
    font-weight: 700;
    font-size: 42px;
    position: relative;
    top: 200px;
}
.menu_mobile{
    font-size: 40px;
    display: none;
}
header div li{
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
}
header ul{
    position: relative;
    top: 250px;
    text-align: center;
    right: 10px;
    font-weight: bold;
}
header li{
    display: inline-block;
    border: #ffffff solid 1px;
    border-radius: 15px;
    cursor: pointer;
}
.bubble{
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 50px;
    width: 300px;
    height: 220px;
    display: none;
}
.avatar{
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: 20px;
}
.bubble_text{
    display: inline-block;
    background: url("https://img.clipartfest.com/8b4e8b565e47416150cafb6f7a73907a_cartoon-bubble-clip-art-speech-bubble-clipart-black-and-white_1000-705.png") no-repeat center;
    background-size: contain;
    padding: 35px 70px 80px 70px;
    text-align: center;
    border-radius: 15px;
    transform: rotateY(180deg);
    position: relative;
    bottom: 130px;
    left: 60px;

}
.flipY{
    transform: rotateY(180deg);
}

@media screen and (max-width: 1200px) {
    .logo{
        background: url("https://softuni.bg/content/images/softuni-mobile-logo.png") no-repeat;
        position: relative;
        left: 20%;
        width: 50px;
        top: 5px;
    }
}
@media screen and (max-width: 990px) {
    .btn_hide{
        display: none;
    }
    .logo{
        float: left;
        background: url("https://softuni.bg/content/images/software-university-logo.png") no-repeat;
        height: 40px;
        width: 150px;
        position: relative;
        top: 0;
        padding-right: 80%;
    }
    .menu_mobile{
        display: inline-block;
    }
    header h1{
        font-size: 200%;
    }
}
@media screen and (max-width: 514px) {
    .logo{
        background: url("https://softuni.bg/content/images/softuni-mobile-logo.png") no-repeat;
        position: relative;
        left: 20%;
        width: 50px;
        top: 5px;
        padding-right: 0;
    }
    header li{
        display: block;
        margin-top: 10px;
    }
}
@media screen and (max-width: 345px) {
    .logo{
        padding-right: 0;
        padding-left: 0;
    }
}
