@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "LatoBlack","Arial","Helvetica",sans-serif;
    min-width: 360px;
	-webkit-perspective: 3000px;
    perspective: 3000px;
    width: 100%;
    height: 550px;
    background: black;
}
.portal{
    position: absolute;
    width: 95vw;
    top: calc((-50vh + (95vw + 100vh) / 2) * (-0.5) );
    display: none;
    margin-left: 2vw;
    z-index: -1;
}
nav{
    background: #234465;
    padding: 10px;
    text-align: center;
	-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
nav li span, nav li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    color: #aab2bc;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 900;
}
.btn, .logo, .menu_btn, .btn_orange, .search_icon{
    cursor: pointer;
}
.fake_btn::after{
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #aab2bc;
    border-bottom: none;
    content: "";
    position: relative;
    margin-left: 10px;
    top: 10px;
}
nav li span:hover{
    color: #ffffff;
}
nav li span:hover.fake_btn::after{
    border-top: 5px solid #ffffff;
}
.logo{
    display: inline-block;
}
nav ul{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 60px;
    margin-top: 10px;
}
.logo:active .logo_left, .logo:active .logo_right{
	-webkit-animation-play-state: running;
    animation-play-state: running;
}
.logo_left, .logo_right{
    background: url("https://softuni.bg/content/images/software-university-logo.png") no-repeat;
    background-size: 200% 100%;
    height: 40px;
    width: 90px;
    position: relative;
    display: inline-block;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-play-state: paused;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 3s;
    -webkit-animation-play-state: paused;
}
.logo_right{
    background-position-x: -90px;
    right: 5px;
    transform-origin: bottom left;
    animation-name: logo_right_anim;
	-webkit-transform-origin: bottom left;
    -webkit-animation-name: logo_right_anim;
}
.logo_left{
    transform-origin: bottom right;
    animation-name: logo_left_anim;
	-webkit-transform-origin: bottom right;
    -webkit-animation-name: logo_left_anim;
}
.search_icon{
    font-size: 20px;
    margin-left: 10px;
}
.search_icon:hover{
    color: #ffffff;
}
.btn_orange{
    background: #ffa000;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
    border: none;
}
.btn_orange:hover{
    background: #ffffff;
    color: #234465;
}
.background{
    background-size: contain;
    background: url("https://softuni.bg/content/images/leadBG.jpg") no-repeat;
    height: 600px;
    color: #ffffff;
}
header{
	-webkit-transition: -webkit-transform 4s;
    transition: -webkit-transform 4s;
    transition: transform 4s;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    padding-top: 150px;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
h1{
    font-weight: 700;
    font-size: 42px;
}
.title_wrapper{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
header div li{
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
}
header ul{
    margin-top: 30px;
    text-align: center;

    font-weight: bold;
}
header li{
    display: inline-block;
    border: #ffffff solid 1px;
    border-radius: 15px;
    cursor: pointer;
}
header li:nth-of-type(2):hover, header li:last-of-type:hover{
    background: #ffffff;
    color: #234465;
}
.bubble{
    position: fixed;
    z-index: 1;
    top: 80px;
    left:0;
    width: 300px;
    height: 220px;
    display: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.avatar{
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: 20px;
}
.bubble_text{
    display: inline-block;
    padding: 35px 70px 80px 70px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 140px;
    left: 80px;
}
.bubble_text i{
    font-size: 180px;
    color: #ffffff;
    position: relative;
    bottom: 100px;
    z-index: -1;
}
#nag_text{
    z-index: 1;
}
.dirt{
    position: fixed;
    cursor: pointer;
}
.dirt_counter{
    position: fixed;
    left: 47%;
    top: 15%;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    padding:  13px 13px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    display: none;
}
.fix_dirt_counter{
    -webkit-transform: rotate(-20deg);
    transform: rotate(20deg);
}
.cookie{
    width: 180px;
    height: 180px;
    position: fixed;
    top: 200px;
    left: 200px;
    cursor: pointer;
}
.no_bullets{
    list-style: none;
}
@-webkit-keyframes logo_left_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    20% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes logo_left_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    20% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@-webkit-keyframes logo_right_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    20% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@keyframes logo_right_anim {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    10% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    20% {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
    100% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
}
@-webkit-keyframes spiralNav
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1);
        transform: rotate(0deg) translate(0px) scale(1);
    }
    to {
        -webkit-transform: rotate(90deg) translate(200px) scale(0);
        transform: rotate(90deg) translate(200px) scale(0);
    }
}
@keyframes spiralNav
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1);
        transform: rotate(0deg) translate(0px) scale(1);
    }
    to {
        -webkit-transform: rotate(90deg) translate(200px) scale(0);
        transform: rotate(90deg) translate(200px) scale(0);
    }
}
@-webkit-keyframes spiralHeader
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
        transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
    }
    to {
        -webkit-transform: rotate(90deg) translate(200px) scale(0) rotateX(-90deg);
        transform: rotate(90deg) translate(200px) scale(0) rotateX(-90deg);
    }
}
@keyframes spiralHeader
{
    from {
        -webkit-transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
        transform: rotate(0deg) translate(0px) scale(1) rotateX(-90deg);
    }
    to {
        -webkit-transform: rotate(90deg) translate(200px) scale(0) rotateX(-90deg);
        transform: rotate(90deg) translate(200px) scale(0) rotateX(-90deg);
    }
}
@media screen and (max-width: 1200px) {
    .logo_left, .logo_right{
        background-image: url("https://softuni.bg/content/images/softuni-mobile-logo.png");
        width: 35px;
    }
    .logo_right{
        background-position-x: -35px;
    }
}
@media screen and (max-width: 990px) {
    .menu_links{
        display: none;
        margin: 8px auto auto;
        background: #234465;
        padding: 10px 0;
        width: 100vw;
        position: fixed;
        left: 0;
        border-top: 2px solid #236688;
    }
    .menu_btn{
        margin-right: 20px;
    }
    .fake_btn:first-of-type{
        padding-left: 0;
    }
    .logo_left, .logo_right{
        background-image: url("https://softuni.bg/content/images/software-university-logo.png");
        width: 90px;
    }
    .logo_right{
        background-position-x: -90px;
    }
    nav ul li:first-of-type{
        float: right;
        padding: 0;
        margin-left: 20px;
        width: 30px;
    }
    nav ul li:first-of-type:hover .menu_links{
        display: block;
    }
    nav ul li:first-of-type:hover{
        padding-bottom: 40px;
    }
    .menu_btn{
        display: inline-block;
    }
    nav ul li:first-of-type:before{
        font-family: FontAwesome, sans-serif;
        content: "\f0c9";
        font-size: 30px;
    }

    nav ul{
        position: relative;
        bottom: 5px;
        margin-top: 15px;

    }
}
@media screen and (max-width: 525px) {
    .logo_left, .logo_right{
        background-image: url("https://softuni.bg/content/images/softuni-mobile-logo.png");
        width: 35px;
    }
    .logo_right{
        background-position-x: -35px;
    }
    header li{
        display: block;
        margin-top: 10px;
        margin-right: 20px;
    }
    .portal{
        top: 70px;
    }
    .menu_btn{
        display: block;
        font-size: 5vw;
        margin: 0;
        padding: 0;
    }

}

