@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "LatoBlack","Arial","Helvetica",sans-serif;
    min-width: 320px;
    -webkit-perspective: 3000px;
    perspective: 3000px;
    width: 100%;
    background: black;
}
.portal{
    position: absolute;
    width: 80vw;
    top: calc((-50vh + (95vw + 100vh) / 2) * (-0.5) );
    display: none;
    margin-left: 10vw;
    z-index: -2;
}
.portal:nth-of-type(2){z-index: 1;}
nav{
    background: #234465;
    padding: 0 10px;
    text-align: center;
    min-width: 300px;
    height: 60px;
    position: relative;
}
nav li, .drop-down li a{
    color: #aab2bc;
    text-transform: uppercase;
    vertical-align: top;
    font-size: 13px;
    font-weight: 900;
    outline: 0;
}
.main-menu > li, .menu-links > li{display: inline-block;}
.menu-links > li{padding: 10px 5px 10px 10px;}
.btn, .logo, .menu-btn, .btn-orange, .search-icon{
    cursor: pointer;
}
.drop-down::after{
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #aab2bc;
    border-bottom: none;
    content: "";
    position: relative;
    margin-left: 10px;
    top: 10px;
}
.menu-links li a:hover{color: #ffffff;}
.menu-links > li:hover.drop-down::after{
    border-top: 5px solid #ffffff;
}
.logo{
    display: inline-block;
    margin-top: 10px;
    outline: 0;
    float: left;
    margin-left: 20px;
}
.main-menu{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    top: 0;
    right: 60px;
    position: absolute;
}
.logo:active .logo-left, .logo:active .logo-right{
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.logo-left, .logo-right{
    background: url("https://softuni.bg/content/images/software-university-logo.png") no-repeat;
    background-size: 200% 100%;
    height: 40px;
    width: 90px;
    position: relative;
    display: inline-block;
    -webkit-animation: logo_left_anim 3s backwards ease-in infinite paused;
    animation: logo_left_anim 3s backwards ease-in infinite paused;
}
.logo-right{
    background-position-x: -90px;
    right: 5px;
    transform-origin: bottom left;
    animation-name: logo_right_anim;
    -webkit-transform-origin: bottom left;
    -webkit-animation-name: logo_right_anim;
}
.logo-left{
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
}
.main-menu > li.search-icon{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.main-menu > li.search-icon:hover{color: #ffffff;}
.btn-orange, .main-menu > li.btn-orange{
    background: #ffa000;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
    border: none;
}
.main-menu > li.btn-orange{margin-top: 10px;}
.btn-orange:hover, .main-menu > li.btn-orange:hover{
    background: #ffffff;
    color: #234465;
}
header{
    background-size: contain;
    background: url("https://softuni.bg/content/images/leadBG.jpg") no-repeat;
    height: 600px;
    color: #ffffff;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    padding-top: 150px;
    min-width: 320px;
}
h1{
    font-weight: 700;
    font-size: 42px;
}
.title-wrapper{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
header div li{
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-left: 20px;
    text-transform: none;
}
header ul{
    margin-top: 30px;
    text-align: center;

    font-weight: bold;
}
header li{
    display: inline-block;
    border: #ffffff solid 1px;
    border-radius: 15px;
    cursor: pointer;
}
header li:nth-of-type(2):hover, header li:last-of-type:hover{
    background: #ffffff;
    color: #234465;
}
.bubble{
    position: fixed;
    z-index: 1;
    top: 80px;
    left: -15px;
    width: 300px;
    height: 220px;
    display: none;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.avatar{
    border-radius: 50%;
    position: relative;
    top: 80px;
    left: 20px;
}
.bubble-text{
    display: inline-block;
    padding: 35px 70px 80px 70px;
    text-align: center;
    border-radius: 15px;
    position: relative;
    bottom: 140px;
    left: 80px;
}
.bubble-text i{
    font-size: 180px;
    color: #ffffff;
    position: relative;
    bottom: 100px;
    z-index: -1;
}
.bubble:after{
    font-family: FontAwesome,sans-serif;
    content: "\f075";
    position: relative;
    left: 142px;
    font-size: 194px;
    color: #000000;
    bottom: 507px;
    z-index: -2;
}
#nag-text{z-index: 1;}
.dirt{
    position: fixed;
    cursor: pointer;
}
.dirt-counter{
    position: fixed;
    left: calc((100vw / 2) - 50px);
    top: 80px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    padding:  13px 13px;
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    display: none;
    z-index: 2;
}
.fix-dirt-counter{
    -webkit-transform: rotate(-20deg);
    transform: rotate(20deg);
}
.cookie{
    width: 180px;
    height: 180px;
    position: fixed;
    top: 200px;
    left: 200px;
    cursor: pointer;
}
.no-bullets{list-style: none;}
.menu-links{margin-top: 6px;}
.drop-down ul{
    display: none;
    position: absolute;
    background: #234465;
    border: 2px solid #236688;
    min-width: 100px;
    margin-top: 16px;
    border-radius: 10px;
    transition: background 1s;
}
.drop-down:first-of-type ul:hover, .drop-down:nth-of-type(2) ul:hover{
    background: #2a5179;
}
.drop-down:first-of-type li, .drop-down:nth-of-type(2) li{
    padding: 5px;
    border-bottom: 1px solid #1e5b78;
    cursor: default;
    margin: 0;
}
.drop-down:first-of-type li:hover, .drop-down:nth-of-type(2) li:hover{
    background: #1f708e;
}
.drop-down:first-of-type li:last-of-type, .drop-down:nth-of-type(2) li:last-of-type{
    border-bottom: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.drop-down:first-of-type li:first-of-type, .drop-down:nth-of-type(2) li:first-of-type{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.drop-down li a{
    text-decoration: none;
    text-transform: none;
}
.drop-down li a:hover{color: #ffffff;}
.debug{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.03;
}
.debug-info{
    position: fixed;
    top: 100px;
    left: 100px;
    background: white;
    width: 150px;
    text-align: center;
}
.nav-bug-fix{
    position: fixed;
    top: 30px;
    width: 30px;
    height: 30px;
}
.apple-greetings{
    width: 100vw;
    height: 100%;
    background: #000000;
    position: fixed;
    z-index: 10;
    top: 0;
    text-align: center;
    min-width: 320px;
}
.apple-greetings-img{
    width: 280px;
    position: relative;
    top: calc(100vh / 2 - 185px);
}
.apple-greetings-text{
    color: white;
    position: relative;
    top: calc(100vh / 2 - 205px);
    margin: auto;
    width: 300px;
}
.apple-greetings-button{
    position: relative;
    top: calc(100vh / 2 - 200px);
    border-radius: 5px;
    padding: 3px 10px;
    border: 2px solid #ff4500;
    outline: 0;
    cursor: pointer;
    background: #ff4500;
    color: #ffffff;
}
.apple-greetings-button:hover{
    background: #000000;
    color: #ff4500;
}
.contacts-frame-container{
    width: 91vw;
    position: absolute;
    left: 4.5vw;
    height: 80vh;
    display: none;
    top: 60px;
}
.close-frame{
    background: #808080;
    padding: 2px 10px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    color: #ffffff;
}
.close-frame:hover{background: #ff0000;}
.blog-list {left: 300px;}
.blog-list li {
    border: 1px solid #aab2bc;
    margin: 10px auto;
    text-transform: none;
    color: #234465;
    background: #eaeaea;
    border-radius: 5px;
    padding: 10px;
}
.drop-down .blog-list a {color: #ffa000;}
.partners-list {left: 40px;}
.partners-list li {
    display: inline-block;
    margin: 10px;
    border-right: 1px solid #236688;
    padding-right: 20px;
}
.partners-list li:last-of-type {
    border-right: none;
    padding-right: 0;
}
.forum-list {
    left: 20px;
    background: #234465;
}
.question {
    border: 1px solid #aab2bc;
    margin: 10px auto;
    text-transform: none;
    color: #234465;
    background: #eaeaea;
    border-radius: 5px;
}
.question div {display: block;}
.question-intro p {
    display: inline-block;
    width: 40%;
}
p.category {
    text-align: left;
    padding-top: 10px;
    color: #ffa000;
    font-weight: bold;
}
p.author {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.fa-user, .fa-clipboard {padding-right: 5px;}
.text {
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
}
.drop-down .reply button:hover {
    background: #ffffff;
    color: #ffa000;
    cursor: pointer;
}
.drop-down .reed-more a:hover {color: #ffa000;}
.reply button {
    background: #ffa000;
    border-radius: 20px;
    color: #ffffff;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
.reed-more {margin-bottom: 10px;}
main {
    background: #234465;
    padding: 30px 0;
}
article.site-info {
    color: #737373;
    width: 70vw;
    margin: 20px auto;
    background: #eeeeee;
    padding: 30px;
    border: 2px solid #213350;
    border-radius: 10px;
    box-shadow: 6px 6px 7px 2px rgba(138, 132, 125, 0.39);
}
article.site-info:hover {
    color: #565656;
    background: #ffffff;
    border: 2px solid #4a4170;
    box-shadow: 6px 6px 7px 2px rgba(76, 67, 114, 0.39);
    cursor: pointer;
}
article.site-info h3 {
    text-align: center;
    margin-bottom: 10px;
}
article.site-info a {
    text-decoration: none;
    margin-left: 10px;
    color: #E98F00;
    font-weight: bold;
    font-size: 1em;
    transition: font-size 0.5s;
}
article.site-info a:hover {
    font-size: 1.2em;
    font-weight: bolder;
    color: #ffa000;
}
article.site-info span {font-weight: bolder;}
#skills{margin-top: 20px;}
#skills p{
    border-radius: 10px;
    background: #3f3661;
    border: 2px solid #a9a9a9;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}
#skills p:hover{box-shadow: inset 0 0 15px 4px #A9A9E8;}
#skills h3{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 15px 10px 10px #828282;
    color: #222222;
}
.skills-info{
    background: #b0c4de;
    width: 80vw;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 0 0 9px 1px #9999ff;
    border: 3px solid #a9a9a9;
}
#skills a{
    color: #ffd700;
    text-decoration: none;
}
.experiment{
    height: 230px;
    width: 300px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 10px;
    border: 2px solid #a9a9a9;
    text-align: center;
    padding-top: 20px;
}
.experiment div{
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    margin: 20px auto;
    border: 2px solid #000000;
}
.experiment button{
    border-radius: 10px;
    border: 2px solid #faa726;
    padding: 2px 10px;
    background: #ffd700;
    color: #3322ff;
    font-weight: 900;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
}
.experiment button:hover{background: #faa726;}
.experiment button:active{background: #ffd700;}
.sun{
    background: radial-gradient(red 0% ,yellow 15%, skyblue 30%) skyblue no-repeat;
    animation: sun 5s forwards;
}
.circle{
    animation: circle 10s forwards;
}
.ball{
    animation: ball 2s linear forwards;
    position: relative;
    border-radius: 50%;
    background: repeating-radial-gradient(red 16%, yellow 18%);
}
.roll{
    animation: roll 8s forwards ease-in-out;
    transform-origin: bottom left;
}
#test_subject:hover{
    background: url(http://www.animatedimages.org/data/media/516/animated-shark-image-0059.gif) -25px lightskyblue;
    background-size: 177%;
}
.spiral-header{
    -webkit-animation: spiralHeader 4s linear forwards;
    animation: spiralHeader 4s linear forwards;
}
.spiral-nav{
    -webkit-animation: spiralNav 4s linear forwards;
    animation: spiralNav 4s linear forwards;
    animation-delay: 1.3s;
}
.header-btns ul li:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}
.header-btns ul li:nth-child(3) {
    animation-name: colour-change;
    animation-duration: 2s;
}
.header-btns ul li:nth-child(2) {
    animation-name: colour-change;
    animation-duration: 3s;
}
.header-btns ul li:nth-child(1) {
    animation-name: colour-change;
    animation-duration: 4s;
}
.header-btns ul li:nth-child(1) {
    animation-name: fonta;
    animation-delay: 4s;
    animation-duration: 4s;
}
footer{
    width: 100%;
    background: #172e44;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.send-to-top{
    text-decoration: none;
    text-transform: uppercase;
    color: #aab2bc;
    font-weight: 700;
    float: left;
}
.send-to-top:hover{
    color: #ffffff;
}
.send-to-top:hover:before, .send-to-top:hover:after{
    position: relative;
    bottom: 15px;
}
.send-to-top:before, .send-to-top:after{
    font-family: FontAwesome,sans-serif;
    content: "\f176";
    margin: 0 5px;
}
.social-icons a:first-of-type:before{
    font-family: FontAwesome,sans-serif;
    content: "\f09b";
}
.social-icons a:last-of-type:before{
    font-family: FontAwesome,sans-serif;
    content: "\f09a";
}
.credentials{
    float: right;
    margin-right: 3vw;
    margin-top: 10px;
    color: #878e98;
}
.credentials span{
    display: block;
    text-shadow: 0 1px 0 #85ffcb, 1px 1px 0 #ffffff;
    font-size: 25px;
}
.team-contacts{
    list-style: none;
    text-align: left;
}
.team-member{
    display: inline-block;
    color: #dddddd;
}
.social-icons{
    display: inline-block;
}
.social-icons a{
    color: #daa520;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
    font-size: 25px;
    margin: 0 10px;
}
.social-icons a:hover{
    font-size: 30px;
    color: chocolate;
}
footer>*{
    display: inline-block;
    vertical-align: top;
}
.menu-links>li:hover{color: #ffffff;}
